body {
  display: flex;
  flex-direction: column; /* Adjusts layout to vertical alignment */
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  min-height: 100vh; /* Minimum height to take full viewport */
  margin: 0;
  padding: 40px 0; /* Increased padding at top and bottom */
  font-family: "DM Sans", sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box; /* Ensures padding is included in height calculations */
}

.container {
  position: relative;
  text-align: left;
  width: 65%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Allows scrolling within the container if content is too large */
  max-height: 80vh; /* Limits the container height to 80% of the viewport height */
}

h1,
h2,
p {
  margin: 0 0 10px 0;
  padding: 0;
}

.back-arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

h1 {
  color: #333;
  font-weight: 700;
}

h2 {
  color: #555;
  font-weight: 500;
}

p {
  color: #666;
  font-weight: 400;
}

.project-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.text-content,
.project-image {
  width: 60%; /* Adjust as necessary */
}

.project-image {
  width: 35%; /* Adjust as necessary */
}

img {
  max-width: 100%;
  height: auto;
}

/* General link styling */
a {
  color: #333; /* Change this color to match your site's theme */
  text-decoration: underline; /* Removes underline */
}
